<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li class="active"><i class="fa fa-home"></i>Home</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">
    <div class="box-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Spec</th>
          <th>Status</th>
          <th>Note</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let inventory of inventoryData$ | async;">
          <td>{{inventory.name}}</td>
          <td>{{inventory.spec}}</td>
          <td>{{inventory.status}}</td>
          <td>{{inventory.note}}</td>
          <td>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Hapus</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- /.content -->
</div>
